[submodule "assets/ts/api"]
	path = assets/ts/api
	url = https://gitlab.com/Gigadrive/qpost/api-node.git
[submodule "translations"]
	path = translations
	url = https://gitlab.com/Gigadrive/qpost/locales.git
