{% extends "base.html.twig" %}

{% block content %}
	<div class="row">
		<div class="col-lg-6 offset-lg-3">
			<div class="card text-white bg-danger">
				<div class="card-body">
					<h3 class="text-center mb-2 text-white font-weight-bold">Offline</h3>

					<p class="mb-0 text-center">
						Failed to connect to the qpost servers.<br/>Please check your internet connection.
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}