{% extends "base.html.twig" %}

{% block content %}
	<div class="row">
		<div class="col-lg-6 offset-lg-3">
			{% include "parts/flash.html.twig" %}
			<div class="card">
				<div class="card-body">
					<h3 class="text-center mb-2">Forgot your password?</h3>

					<form action="{{ path("qpost_resetpassword_index") }}" method="post">
						{% include "@GigadriveSymfonyExtensions/csrf.html.twig" %}
						<input type="text" class="form-control mb-2" name="email"
							   placeholder="Email address or username"
							   value="{{ _POST['email'] is defined ? _POST['email'] }}"/>
						<input type="submit" class="btn btn-block btn-primary" value="Request password reset"/>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}