{% extends "base.html.twig" %}

{% block content %}
	<div class="row">
		<div class="col-lg-6 offset-lg-3">
			{% include "parts/flash.html.twig" %}

			{% if renderForm is defined and renderForm %}
				<div class="card">
					<div class="card-body">
						<h3 class="text-center mb-2">Reset your password</h3>

						<form action="{{ path("qpost_resetpassword_resetpasswordresponse", {"uid": user.id, "token": token.id}) }}"
							  method="post">
							{% include "@GigadriveSymfonyExtensions/csrf.html.twig" %}
							<input type="password" class="form-control mb-2" name="password"
								   placeholder="Your new password"/>
							<input type="password" class="form-control mb-2" name="password2"
								   placeholder="Repeat your new password"/>

							<input type="submit" class="btn btn-block btn-primary" value="Request password reset"/>
						</form>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}