{% extends "homeBase.html.twig" %}

{% block content %}
	<div class="container my-5">
		<h1 class="text-white mb-3">Rules and Guidelines</h1>

		<p>
			under construction
		</p>
	</div>
{% endblock %}