{% extends "base.html.twig" %}

{% block content %}
	<div class="row">
		<div class="col-lg-6 offset-lg-3">
			{% include "parts/flash.html.twig" %}
			<div class="card">
				<div class="card-body">
					<h3 class="text-center mb-2">Verify your email address</h3>

					Your email address has been verified.
				</div>
			</div>
		</div>
	</div>
{% endblock %}