{% extends "settings/base.html.twig" %}
{% import "settings/macro.html.twig" as macro %}

{% block content %}
	{{ macro.settingsHeadline("Change password") }}

	{% include "parts/flash.html.twig" %}

	<form action="{{ currentPath() }}" method="post">
		{% include "@GigadriveSymfonyExtensions/csrf.html.twig" %}

		<div class="form-group">
			<input type="password" class="form-control" id="oldPassword" name="oldPassword"
				   placeholder="Current password"/>
		</div>

		<div class="form-group">
			<input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="New password"/>
		</div>

		<div class="form-group">
			<input type="password" class="form-control" id="newPassword2" name="newPassword2"
				   placeholder="Repeat new password"/>
		</div>

		<button type="submit" class="btn btn-primary btn-block bootstrapButton">
			Save changes
		</button>
	</form>
{% endblock %}