{% extends "settings/base.html.twig" %}
{% import "settings/macro.html.twig" as macro %}

{% block content %}
	{{ macro.settingsHeadline(__("settings.account.sessions.headline")) }}

	{% include "parts/flash.html.twig" %}

	<div id="sessionList"></div>
{% endblock %}