.text-mainColor {
	color: #FFF !important;
}

.bg-monochrome {
	background-color: $dark !important;
}

.text-qp-gray {
	color: #9b9b9b !important;
}

.border-mainColor {
	border-color: #535353 !important;
}