@import "iconMargin";
@import "mixins/index";

.clearUnderline {
	text-decoration: none !important;
}

.text-blue {
	color: $primary !important;
}

.text-mainColor {
	color: $primary;
}

.border-mainColor {
	border-color: $primary !important;
}

.bg-monochrome {
	background-color: $light;
}

.text-qp-gray {
	color: gray !important;
}