@mixin feedButtonMargin($margin) {
	margin-right: $margin;

	&:first-child {
		margin-left: $margin;
	}
}

@mixin feedButton($color) {
	font-size: 18px;
	color: gray;
	text-align: center;

	@include media-breakpoint-between(sm, md) {
		@include make-col-ready();
		@include make-col(3);
	}

	@include media-breakpoint-up(lg) {
		@include make-col-ready();
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%;
	}

	/*@include media-breakpoint-between(sm,md){
		@include feedButtonMargin(25px);
	}*/

	@include media-breakpoint-down(xs) {
		font-size: 16px;

		@include feedButtonMargin(20px);
	}

	i, .number {
		transition: color .3s ease-in-out;
		-moz-transition: color .3s ease-in-out;
		-webkit-transition: color .3s ease-in-out;
		-o-transition: color .3s ease-in-out;
		-ms-transition: color .3s ease-in-out;
	}

	&.active, &:hover {
		cursor: pointer;

		i, .number {
			color: $color;
		}
	}

	&.inactive {
		i, .number {
			color: darken(gray, 10%);
		}
	}

	&:not(.active):not(.inactive) {
		transition: text-shadow .3s ease-in-out;
		-moz-transition: text-shadow .3s ease-in-out;
		-webkit-transition: text-shadow .3s ease-in-out;
		-o-transition: text-shadow .3s ease-in-out;
		-ms-transition: text-shadow .3s ease-in-out;

		&:hover {
			text-shadow: 0 0 8px $color;
		}
	}

	.number {
		margin-left: 10px;
	}
}

.feedEntryButtonHolder {
	margin-bottom: .5rem;

	@include media-breakpoint-up(lg) {
		@include make-row();
	}

	.replyButton {
		@include feedButton($info);
	}

	.shareButton {
		@include feedButton($primary);
	}

	.favoriteButton {
		@include feedButton($warning);
	}

	.deleteButton {
		@include feedButton($danger);
	}
}