{% extends "base.html.twig" %}

{% block content %}
	<small>
		&laquo; <a href="{{ path("qpost_apidocs_index") }}">Go back to the home page</a>
	</small>

	<h1>Password</h1>

	<p>
		This endpoint may be used to change a user's password.
	</p>

	<hr/>

	<h2><span class="badge badge-info">POST</span> /password</h2>

	<p>
		Changes the current user's password.<br/>
		<span class="text-danger font-weight-bold">Requires authorization</span>
	</p>

	<h3>Parameters</h3>

	<table class="table table-bordered">
		<thead>
		<tr>
			<th>Property</th>
			<th>Type</th>
			<th>Description</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>oldPassword</td>
			<td>string</td>
			<td>The current unhashed password of this user</td>
		</tr>
		<tr>
			<td>newPassword</td>
			<td>string</td>
			<td>The new unhashed password of this user</td>
		</tr>
		<tr>
			<td>newPassword2</td>
			<td>string</td>
			<td>Repeating the new unhashed password of this user</td>
		</tr>
		</tbody>
	</table>

	<h3>Response</h3>

	<p>Returns a single <a href="{{ path("qpost_apidocs_user") }}#object">User</a> object.</p>
{% endblock %}