{% extends "base.html.twig" %}

{% block content %}
	<small>
		&laquo; <a href="{{ path("qpost_apidocs_index") }}">Go back to the home page</a>
	</small>

	<h1>Privacy level</h1>

	<p>
		This endpoint may be used to modify the Privacy level of a specific user.
	</p>

	<hr/>

	<h2><span class="badge badge-danger">DELETE</span> /privacyLevel</h2>

	<p>
		Changes the current user's privacy level.<br/>
		<span class="text-danger font-weight-bold">Requires authorization</span>
	</p>

	<h3>Parameters</h3>

	<table class="table table-bordered">
		<thead>
		<tr>
			<th>Property</th>
			<th>Type</th>
			<th>Description</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>level</td>
			<td>string</td>
			<td>The new privacy level to use, one of these values: <code>PUBLIC</code> / <code>PRIVATE</code> / <code>CLOSED</code>
			</td>
		</tr>
		</tbody>
	</table>

	<h3>Response</h3>

	<p>Returns a single <a href="{{ path("qpost_apidocs_user") }}#object">User</a> object.</p>
{% endblock %}