{% extends "base.html.twig" %}

{% block content %}
	<small>
		&laquo; <a href="{{ path("qpost_apidocs_index") }}">Go back to the home page</a>
	</small>

	<h1>User</h1>

	<p>
		This endpoint may be used to get information of users and modify them.
	</p>

	<h2 id="object">The User object</h2>

	<table class="table table-bordered">
		<thead>
		<tr>
			<th>Property</th>
			<th>Type</th>
			<th>Description</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>id</td>
			<td>integer</td>
			<td>The unique identifier of this user</td>
		</tr>
		<tr>
			<td>displayName</td>
			<td>string</td>
			<td>The display name of this user</td>
		</tr>
		<tr>
			<td>username</td>
			<td>string</td>
			<td>The username/"@-handle" of this user</td>
		</tr>
		<tr>
			<td>avatarURL</td>
			<td>string</td>
			<td>The URL of this user's avatar</td>
		</tr>
		<tr>
			<td>header</td>
			<td>?string</td>
			<td>The URL of this user's header image</td>
		</tr>
		<tr>
			<td>bio</td>
			<td>?string</td>
			<td>The biography of this user</td>
		</tr>
		<tr>
			<td>birthday</td>
			<td>?string</td>
			<td>The birthday date of this user in the format <a href="https://www.php.net/manual/en/function.date.php"
																target="_blank">"Y-m-d"</a></td>
		</tr>
		<tr>
			<td>privacyLevel</td>
			<td>string</td>
			<td>The privacy level of this user, one of these values: <code>PUBLIC</code> / <code>PRIVATE</code> / <code>CLOSED</code>
			</td>
		</tr>
		<tr>
			<td>time</td>
			<td>string</td>
			<td>The timestamp of when this user was created</td>
		</tr>
		<tr>
			<td>verified</td>
			<td>boolean</td>
			<td>Whether or not this user has a verified badge</td>
		</tr>
		<tr>
			<td>suspended</td>
			<td>boolean</td>
			<td>Whether or not this user's account was suspended</td>
		</tr>
		<tr>
			<td>totalPostCount</td>
			<td>integer</td>
			<td>The total amount of feed entries this user has created</td>
		</tr>
		<tr>
			<td>followingCount</td>
			<td>integer</td>
			<td>The amount of users this user follows</td>
		</tr>
		<tr>
			<td>followerCount</td>
			<td>integer</td>
			<td>The amount of users that follow this user</td>
		</tr>
		<tr>
			<td>favoritesCount</td>
			<td>integer</td>
			<td>The amount of posts this user has favorited</td>
		</tr>
		<tr>
			<td>followsYou</td>
			<td>boolean</td>
			<td>Whether or not this user follows the currently authenticated user, false if not authenticated</td>
		</tr>
		<tr>
			<td>blocked</td>
			<td>boolean</td>
			<td>Whether or not the currently authenticated user has blocked this user, false if not authenticated</td>
		</tr>
		<tr>
			<td>features</td>
			<td>?string[]</td>
			<td>Additional features that were enabled for this user</td>
		</tr>
		</tbody>
	</table>

	<hr/>

	<h2><span class="badge badge-success">GET</span> /user</h2>

	<p>
		Gets a User object by their username.
	</p>

	<h3>Parameters</h3>

	<table class="table table-bordered">
		<thead>
		<tr>
			<th>Property</th>
			<th>Type</th>
			<th>Description</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>user</td>
			<td>string</td>
			<td>The username of the user to be found (case-insensitive)</td>
		</tr>
		</tbody>
	</table>

	<h3>Response</h3>

	<p>Returns a single <a href="{{ path("qpost_apidocs_user") }}#object">User</a> object.</p>

	<hr/>

	<h2><span class="badge badge-info">POST</span> /user</h2>

	<p>
		Updates the current users profile with the passed parameters.<br/>
		<span class="text-danger font-weight-bold">Requires authorization</span>
	</p>

	<h3>Parameters</h3>

	<table class="table table-bordered">
		<thead>
		<tr>
			<th>Property</th>
			<th>Type</th>
			<th>Description</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>displayName</td>
			<td>string</td>
			<td>The new display name to use</td>
		</tr>
		<tr>
			<td>bio</td>
			<td>?string</td>
			<td>The new bio to use</td>
		</tr>
		<tr>
			<td>birthday</td>
			<td>?string</td>
			<td>The new birthday date to use, has to be at least 13 years in the past.</td>
		</tr>
		<tr>
			<td>avatar</td>
			<td>?string</td>
			<td>The new avatar to use encoded in base64.</td>
		</tr>
		<tr>
			<td>header</td>
			<td>?string</td>
			<td>The new header image to use encoded in base64.</td>
		</tr>
		</tbody>
	</table>

	<h3>Response</h3>

	<p>Returns a single <a href="{{ path("qpost_apidocs_user") }}#object">User</a> object, filled with the new
		information.</p>

	<hr/>

	<h2><span class="badge badge-danger">DELETE</span> /user</h2>

	<p>
		Deletes the current user's account permanently.<br/>
		<span class="text-danger font-weight-bold">Requires authorization</span>
	</p>

	<h3>Parameters</h3>

	<table class="table table-bordered">
		<thead>
		<tr>
			<th>Property</th>
			<th>Type</th>
			<th>Description</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>password</td>
			<td>string</td>
			<td>The user's password.</td>
		</tr>
		</tbody>
	</table>
{% endblock %}