{% extends "base.html.twig" %}

{% block leftSidebar %}
	{% include "pages/account/sidebar.html.twig" with {
		"navPoint": "HOME"
	} %}
{% endblock %}

{% block content %}
	<div class="card mb-3">
		<table class="table my-0">
			<tr>
				<td style="width: 50%"><b>Account ID</b></td>
				<td style="width: 50%">#{{ currentUser.id }}</td>
			</tr>

			<tr>
				<td style="width: 50%"><b>Email Address</b></td>
				<td style="width: 50%">{{ currentUser.email }}</td>
			</tr>

			<tr>
				<td style="width: 50%"><b>Registration Date</b></td>
				<td style="width: 50%">{{ timeago(currentUser.time) }}</td>
			</tr>

			{% if currentUser.gigadriveLinked %}
				<tr>
					<td style="width: 50%">&nbsp;</td>
					<td style="width: 50%"><b>To further manage your account, visit the <a
									href="https://old.gigadrivegroup.com/account" target="_blank">Gigadrive website</a>.</b>
					</td>
				</tr>
			{% endif %}
		</table>
	</div>

	<a href="/delete" class="btn btn-danger">
		Delete this account
	</a>
{% endblock %}