{% macro settingsHeadline(title) %}
	<h1 class="settingsHeadline">{{ title }}</h1>
	<hr class="settingsHeadlineSeparator"/>
{% endmacro %}

{% macro settingsHeadlineSmall(title) %}
	<h4 class="settingsHeadline">{{ title }}</h4>
{% endmacro %}

{% macro linkedAccountIcon(service) %}
	{% if service == "DISCORD" %}
		<i class="fab fa-discord service-discord-color"></i>
	{% elseif service == "TWITCH" %}
		<i class="fab fa-twitch service-twitch-color"></i>
	{% elseif service == "TWITTER" %}
		<i class="fab fa-twitter service-twitter-color"></i>
	{% elseif service == "MASTODON" %}
		<i class="fab fa-mastodon service-mastodon-color"></i>
	{% else %}
		<i class="fas fa-globe text-white"></i>
	{% endif %}
{% endmacro %}