.pageSubtitle {
	background: #78B0EC;
	padding: 10px 30px;
	font-weight: bold;
	color: #FFF;
}

.clearUnderline {
	text-decoration: none !important;
}

#profilePostField,
#homePostField {
	height: 100px;
	resize: none !important;
}

#statusModalPostField {
	height: 70px;
	resize: none !important;
}

img.emoji {
	height: 1em;
	width: 1em;
	margin: 0 .05em 0 .1em;
	vertical-align: -0.1em;
 }

 .favoriteButton,.shareButton,.replyButton {
	 cursor: pointer;
 }

 .replyButton>i {
	 color: gray;
 }

 .favoriteButton>i:hover {
	color: gold !important;
 }

 .shareButton>i:hover,
 .replyButton>i:hover {
	color: #007bff !important;
 }

 .favoriteButton>i:hover,.shareButton>i:hover,.replyButton>i:hover,
 .favoriteButton>i,.shareButton>i,.replyButton>i {
	-webkit-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    transition: color 200ms linear;
 }

 .statusTrigger {
	cursor: pointer;
	-webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
 }

 .statusTrigger:hover {
	background-color: rgb(228, 228, 228);
	-webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
 }

 .custom-select {
	height: auto !important;
	padding: .6rem .8rem !important;
	border: 2px solid #ced4da !important;
	transition: none !important;
 }