.pageSubtitle {
	background: #78B0EC;
	padding: 10px 30px;
	font-weight: bold;
	color: #FFF;
}

.clearUnderline {
	text-decoration: none !important;
}

#profilePostField,
#homePostField {
	resize: none !important;
}

#profilePostField,
#homePostField {
	height: 100px;
}

img.emoji {
	height: 1em;
	width: 1em;
	margin: 0 .05em 0 .1em;
	vertical-align: -0.1em;
 }

 .favoriteButton,.shareButton {
	 cursor: pointer;
 }

 .favoriteButton>i:hover {
	color: gold !important;
 }

 .shareButton>i:hover {
	color: #007bff !important;
 }

 .favoriteButton>i:hover,.shareButton>i:hover,
 .favoriteButton>i,.shareButton>i {
	-webkit-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    transition: color 200ms linear;
 }