<p>Hello {{ displayName }} (@{{ username }}).</p>
<p>Thank you for creating your <a href="https://qpo.st" target="_blank">qpost</a> account.</p>
<p>To finish the registration process and activate your account, <a href="{{ verificationLink }}" target="_blank">click
		this link</a> .</p>
<p>If you have not requested the creation of this account, please ignore this email as the account will be automatically
	deleted in 2 weeks.</p>