<p>Hello {{ displayName }} (@{{ username }}).</p>
<p>Someone has requested a password reset for your account.</p>
<p>To choose a new password for your account, <a href="{{ verificationLink }}" target="_blank">click this link</a>. It
	will expire in 24 hours.</p>
<p>If you have not requested a reset for your account, you can simply ignore this email.</p>