{% extends "emptyBase.html.twig" %}

{% block additionalBodyClasses %}homeBackground{% endblock %}

{% block body %}
	<div class="identifier--forceDayMode"></div> {# <-- DISABLES NIGHTMODE #}

	<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body my-3">
					<div class="row">
						<div class="col-12">
							<form action="/login" method="post">
								{% include "parts/csrf.html.twig" %}

								<label for="email" class="sr-only">Username</label>
								<input type="text" class="form-control" name="email" id="email"
									   placeholder="Email address or username"/>

								<label for="password" class="sr-only">Password</label>
								<input type="text" class="form-control" name="password" id="password"
									   placeholder="Password"/>

								<button type="submit" class="btn btn-primary btn-lg btn-block">
									Log in
								</button>

								<button type="button" class="btn btn-light btn-lg btn-block">
									Create an account
								</button>

								<div class="or">OR</div>

								<a href="/login/gigadrive" type="button"
								   class="btn btn-success btn-lg btn-block clearUnderline">
									Sign in with Gigadrive
								</a>
							</form>
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="homeBase">
		<div class="container pt-3">
			{# <a href="#" class="btn btn-link clearUnderline">discover</a> #}

			<button type="submit" class="btn btn-primary mb-2 float-right" data-toggle="modal"
					data-target="#loginModal">Log in
			</button>
		</div>

		<div class="container my-5">
			{% block content %}

			{% endblock %}
		</div>
	</div>

	<div class="container container-fluid my-5">
		<div class="text-center small text-muted text-uppercase font-weight-bold homeFooter">
			<a href="https://gigadrivegroup.com/legal/contact" target="_blank" class="clearUnderline mx-3">
				Contact Info
			</a>

			<a href="https://gigadrivegroup.com/legal/terms-of-service" target="_blank" class="clearUnderline mx-3">
				Terms of Service
			</a>

			<a href="https://gigadrivegroup.com/legal/privacy-policy" target="_blank" class="clearUnderline mx-3">
				Privacy Policy
			</a>

			<a href="https://gigadrivegroup.com/legal/disclaimer" target="_blank" class="clearUnderline mx-3">
				Disclaimer
			</a>

			<br/><br/>

			&copy; 2019 Gigadrive Group
		</div>
	</div>
{% endblock %}