<ul class="nav flex-column nav-pills">
	<li class="nav-item">
		<a class="nav-link" href="#"><i class="fas fa-arrow-left iconMargin-10"></i>Back to qpost</a>
	</li>

	<li class="dropdown-divider"></li>

	<li class="nav-item">
		<a class="nav-link active" href="#"><i class="fas fa-user-circle iconMargin-10"></i>Profile</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#"><i class="fas fa-cog iconMargin-10"></i>Preferences</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#"><i class="fas fa-users iconMargin-10"></i>Relationships</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#"><i class="fas fa-user iconMargin-10"></i>Account</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#"><i class="fas fa-lock iconMargin-10"></i>Privacy</a>
	</li>

	<li class="dropdown-divider"></li>

	<li class="nav-item">
		<a class="nav-link" href="#"><i class="fas fa-sign-out-alt iconMargin-10"></i>Log out</a>
	</li>
</ul>