<ul class="nav flex-column nav-pills">
	<li class="nav-item">
		<a class="nav-link" href="#"><i class="fas fa-arrow-left iconMargin-10"></i>Back to qpost</a>
	</li>

	<li class="dropdown-divider"></li>

	<li class="nav-item open">
		<a class="nav-link active" href="#"><i class="fas fa-user-circle iconMargin-10"></i>Profile</a>

		<a class="nav-link child" href="#">Appearance</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#"><i class="fas fa-cog iconMargin-10"></i>Preferences</a>

		<a class="nav-link child" href="#">Appearance</a>
		<a class="nav-link child" href="#">Content</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#"><i class="fas fa-users iconMargin-10"></i>Relationships</a>

		<a class="nav-link child" href="#">Following</a>
		<a class="nav-link child" href="#">Followers</a>
		<a class="nav-link child" href="#">Blocked</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#"><i class="fas fa-user iconMargin-10"></i>Account</a>

		<a class="nav-link child" href="#">Information</a>
		<a class="nav-link child" href="#">Username</a>
		<a class="nav-link child" href="#">Password</a>
		<a class="nav-link child" href="#">Active sessions</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#"><i class="fas fa-lock iconMargin-10"></i>Privacy</a>
	</li>

	<li class="dropdown-divider"></li>

	<li class="nav-item">
		<a class="nav-link" href="#"><i class="fas fa-sign-out-alt iconMargin-10"></i>Log out</a>
	</li>
</ul>