{% extends "base.html.twig" %}

{% block body %}
	<style type="text/css">
		body {
			display: -ms-flexbox;
			display: flex;
			-ms-flex-align: center;
			align-items: center;
			background: rgb(0, 123, 255);
			background: -moz-linear-gradient(180deg, rgba(0, 123, 255, 1) 0%, rgba(0, 176, 255, 1) 59%, rgba(149, 222, 255, 1) 100%);
			background: -webkit-linear-gradient(180deg, rgba(0, 123, 255, 1) 0%, rgba(0, 176, 255, 1) 59%, rgba(149, 222, 255, 1) 100%);
			background: linear-gradient(180deg, rgba(0, 123, 255, 1) 0%, rgba(0, 176, 255, 1) 59%, rgba(149, 222, 255, 1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#007bff", endColorstr="#95deff", GradientType=1);
		}

		html,
		body {
			height: 100%;
		}
	</style>

	<div class="mobileLoginBase">
		{% block content %}
		{% endblock %}
	</div>
{% endblock %}