<span class="dz-message"></span>

<div class="preview-template d-none">
	<div class="dz-preview dz-file-preview well mt-2 mr-2 float-left" id="dz-preview-template">
		<div style="background-size: cover;" data-dz-thumbnail
			 class="w-100 h-100 rounded border border-mainColor bg-dark"></div>
		<div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
		<div class="dz-success-mark"><span></span></div>
		<div class="dz-error-mark"><span></span></div>
		<div class="dz-error-message"><span data-dz-errormessage></span></div>
	</div>
</div>