<div class="d-none notificationPermissionAlert py-2 mb-3">
	<div class="container">
		<div class="float-left mt-1">
			Do you want to receive desktop notifications to keep up to date with the people you follow?
		</div>

		<div class="float-right">
			<button class="btn btn-primary btn-sm enableNotifications">Yes</button>
			<button class="btn btn-light btn-sm hideNotifications" data-toggle="tooltip"
					title="Hide this alert for 7 days">No
			</button>
		</div>
	</div>
</div>