{% extends "settings/base.html.twig" %}
{% import "settings/macro.html.twig" as macro %}

{% block content %}
	{{ macro.settingsHeadline("Blocked") }}

	{% include "parts/flash.html.twig" %}

	<div id="relationshipListBlocked"></div>
{% endblock %}